# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.egg-info/
.eggs/

# ========================
# Virtual Environment
# ========================
.venv/
venv/
env/
fl_env/

# ========================
# Model files
# ========================
*.pt
*.pth

# ========================
# Dataset
# ========================
data/
datasets/
*.zip

# ========================
# Experiment results
# ========================
results/
*.csv
*.png

# ========================
# Logs
# ========================
*.log

# ========================
# Flower / Ray
# ========================
.flwr/
ray_results/
*.out

# ========================
# IDE / Editor
# ========================
.vscode/
.idea/

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# Jupyter
# ========================
.ipynb_checkpoints/

# ========================
# Build / packaging
# ========================
build/
dist/
*.whl